.modal {
 border-radius: 6px;
 background: #ffffff;
 padding: 35px 39px 13px 39px;
 position: relative;
 width: clamp(280px, 100%, 465px);

 @media (max-width: 570px) {
  padding: 20px;
 }
}

.close {
 background-color: transparent;
 border: none;
 top: 20px;
 right: 20px;
 cursor: pointer;
 position: absolute;
}

.title {
 color: #434343;
 font-family: var(--primary-font);
 font-size: 36px;
 font-weight: 500;
 margin-bottom: 34px;
 text-align: center;

 @media (max-width: 390px) {
  font-size: 25px;
 }
}

@keyframes inAnimation {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

@keyframes outAnimation {
  0% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
}