.input {
 border: 2px solid var(--primary-color);
 border-radius: 6px;
 padding: 17px 20px 13px 20px;
 outline: none;
 font-size: 18px;
 font-weight: 400;
 color: #615f5f;
}

.label {
 color: #bababa;
 font-size: 18px;
 font-weight: 400;
 position: absolute;
 top: 17px;
 left: 20px;
 transition: var(--fast);
 cursor: text;
}

.liftedInput {
 font-size: 11px;
 top: 7px;
 font-weight: 400;
}

.wrapper {
 position: relative;
}