.cards {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
 grid-gap: 25px;
 justify-content: space-between;
 margin-bottom: 40px;
}

.card {
 width: min(100%, 350px);
}

.red {
 background-color: red;
 height: 30px;
}

.comment {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 flex-grow: 1;
 overflow: auto;
}

.text {
 color: #ffffff;
 font-family: var(--font-family);
 font-size: 18px;
 font-weight: 500;
 margin-bottom: 20px;
}

.button {
 width: 218px;
}