.cards {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
 grid-gap: 25px;
 justify-content: space-between;
 margin-bottom: 40px;
 justify-items: center;

 @media (max-width: 850px) {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
 }

 @media (max-width: 380px){
  grid-template-columns: 1fr;
 }
}

.card {
 width: min(100%, 350px);
}

.red {
 background-color: red;
 height: 30px;
}

.comment {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 flex-grow: 1;
 overflow-y: auto;
 overflow-x: hidden;
}

.text {
 color: #ffffff;
 font-family: var(--font-family);
 font-size: 18px;
 font-weight: 500;
 margin-bottom: 20px;

 @media (max-width: 350px) {
  font-size: 14px;
 }
}

.button {
 width: 218px;

 @media (max-width: 350px) {
  width: unset;
  min-width: unset;
  padding: 15px 15px;
 }
}