.wrapper {
 padding: 0px 10px 10px 10px;
 margin-bottom: -10px;
}

.avatar {
 width: 50px;
 aspect-ratio: 1 / 1;
 border-radius: 50%;
 background-color: var(--primary-color);
 display: grid;
 place-items: center;
 position: relative;
 cursor: pointer;
 padding: 10px;
}

.inicials {
 color: #ffffff;
}