.card {
 width: min(100%, 350px);
}

.comment {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 flex-grow: 1;
 overflow-y: auto;
 overflow-x: hidden;
}

.text {
 color: #ffffff;
 font-family: var(--primary-font);
 font-size: 18px;
 font-weight: 500;
 margin-bottom: 20px;

 @media (max-width: 350px) {
  font-size: 14px;
 }
}

.button {
 width: 218px;

 @media (max-width: 350px) {
  width: unset;
  min-width: unset;
  padding: 15px 15px;
 }
}