.overlay {
 width: 100%;
 display: grid;
 place-items: center;
 background: rgba(255, 255, 255, 0.50);
 width: 100vw;
 height: 100vh;
 z-index: 4;
 position: fixed;
 top: 0;
 left: 0;
 transition: var(--fast);
 padding: 20px;
}

.open {
 animation: fadeIn 300ms forwards;
}
