.label {
 width: fit-content;
 padding-right: 10px;
 color: #434343;
 font-size: 12px;
 font-weight: 500;
 position: relative;
 display: flex;
 align-items: center;
 gap: 10px;
 cursor: pointer;

 &::before {
  content: '';
  position: relative;
  display: block;
  width: 16px;
  aspect-ratio: 1 / 1;
  border-radius: 3px;
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 2px #7469F3;
  left: 2px;
 }
}

.checkbox {
 position: absolute;
 visibility: hidden;

 &:checked {
  & + .label::before {
   background-color: #7469F3;
  }
 }
}