.header {
 height: 50px;
 align-items: center;
 display: flex;
 justify-content: end;
 margin-bottom: 30px;
}

@keyframes inAnimation {
 0% {
  opacity: 0;
 }
 100% {
  opacity: 1;
 }
}

@keyframes outAnimation {
 0% {
  opacity: 1;
 }
 100% {
  opacity: 0;
 }
}