:root {
 --primary-font: "Roboto", Helvetica, sans-serif;
 --primary-color: #7469f3;
 --fast: all 0.15s ease-in-out
}

body {
 font-family: var(--primary-font);
 font-weight: 500;
 position: relative;
}

* {
 box-sizing: border-box;
}